SUPABASE_DB_POOL_URL=postgresql://postgres.hyrzxabkcotbfikvifih:healthtrack2025@aws-1-us-east-2.pooler.supabase.com:5432/postgres
NUXT_SESSION_SECRET=dev-secret-change-me
GEMINI_API_KEY=your-gemini-api-key
